/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2016, 17:17:56
    Author     : Benjamin
*/

h1{
    font-size: medium;
}

#header {
    background-color:royalblue;
    color:white;
    text-align:center;
    padding:6px;
}
#nav {
    line-height:20px;
    background-color:#66ccff;
    height:400px;
    width:200px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:royalblue;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}